
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Diet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/About.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Diet.styles.css" asp-append-version="true" />
</head>
@{
    ViewData["Title"] = "За нас";
}
<body>
<section class="approach" id="approach">
<div class="heading">
    <h1>Научи повече за нас</h1>
 </div>
 <div class="container1">
       <div class="approach-img">
           <img src="../images/apr.jpg" alt="" >
       </div>
       <div class="approach-text">
           <p>MotiFITion е приложение, което обяснява как работи управлението на теглото и помага за установяването на нови здравословни навици по удобен и приятен начин. </p>
            <p>Нашият екип прилага опита на професионални треньори и изучава отзивите на всички потребители, за да подобри функциите на приложението. </p>
            <p>Работим по целия свят в над 150 държави на 6 езика: английски, френски, немски, испански, португалски и италиански.
           </p>
       </div>
    </div>
</section>

<section class="mission" id="mission">
 <div class="container2">
       <div class="mission-img">
           <img src="../images/mis.jpg" alt="" >
       </div>
       <div class="mission-text">
           <center><h2>Нашата мисия</h2></center>
           <center><h4>Нашата мисия е да ви дадем възможност да постигнете вашите хранителни и фитнес цели.</h4></center>
           <p>
Добре дошли в MotiFITion. Нашият експертен екип се е посветил на това да ви запознае с фактите зад модата, за да ви помогне да се съсредоточите върху напредъка, а не върху съвършенството. Предоставяме проверени, базирани на доказателства отговори на вашите най-належащи въпроси относно фитнеса и храненето.

Ние сме награден ресурс за надеждна и актуална информация по всички теми за хранене и упражнения, които имат значение за вашето здраве и жизненост. 

           </p>
       </div>
    </div>
</section>

    <section class="principles" id="principles">
 <div class="container1">
       <div class="principles-img">
           <img src="../images/princ.jpg" alt="" >
       </div>
       <div class="principles-text">
           <center><h2>Нашите принципи</h2></center>
           <h6>Хранене</h6>
           <p>
               Приложението MotiFITion не е диета. Получавате персонализиран план за хранене, който разбива бариерите.
               Включва вкусно дневно меню с прости рецепти стъпка по стъпка, необходими основни съставки, време за приготвяне и списък за пазаруване.
           </p>
           <h6>Мотивация</h6>
           <p>
               Приложението MotiFITion ви вдъхновява със забавление и резултат. 
               Поставете си цели, споделете постиженията си с приятели, проучете забавната емисия и получете личните си интерактивни отчети. Нашата денонощна линия за поддръжка на клиенти е готова да ви държи мотивирани!
           </p>
           <h6>Изучаване</h6>
           <p>
              Изпълнете действията си със смисъл. Прости и интерактивни статии, аудио уроци и курсове са тук, за да ви помогнат да разберете по-добре тялото си.
           </p>
       </div>
    </div>
</section>
</body>
</html>
