
@{
    ViewData["Title"] = "Моят план";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Diet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/MyAccount.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Diet.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    
</head>

<body>
    <section class="home" id="home">
    <div class="program">
    <ul1>
        <li1 class="active"><a href="#">Понеделник</a></li1>
        <li1><a href="#">Вторник</a></li1>
        <li1><a href="#">Сряда</a></li1>
        <li1><a href="#">Четвъртък</a></li1>
        <li1><a href="#">Петък</a></li1>
        <li1><a href="#">Събота</a></li1>
        <li1><a href="#">Неделя</a></li1>
        <li1 class="slide"></li1>
    </ul1>
		</div>
   <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
     <script type="text/javascript">
        $(document).ready(function(){
         $('li').on('click', function(){
             $(this).siblings().removeClass('active');
             $(this).addClass('active');
           })
         })
     </script>
		
	</section>
		
    <section class="mission" id="mission">
        <div class="container2">
            <div class="food-img">
                <img src="../images/12.jpg" alt="">
            </div>
			<div class="food-img">
				<img src="../images/13.jpg" alt="">
			</div>
            <div class="food-text">
                <center><h2>Закуска</h2></center>
                <h6>40г Мюсли</h6>
                <h6>200г Кисело мляко</h6>

				<h2>Обяд</h2>
				<h6>150г Телешко</h6>
				<h6>200г Зеленчуци по избор</h6>
				<h2>Снак</h2>
				<h6>Протеинов бар</h6>
				<h2>Вечеря</h2>
				<h6>200г Зеленчуци по избор</h6>
				<h6>200г Картофи</h6>
            </div>
        </div>
    </section>
  
  
</body>
</html>

