
@{
    ViewData["Title"] = "Trainers";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Diet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Trainers.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Diet.styles.css" asp-append-version="true" />
</head>
<body>
<center><h1>Избери твоя трньор</h1></center>
<section class="coach" id="coach">
    <div class="coach-row">
        <div class="box">
            <div class="coach-img">
                <img src="../images/8.jpg" alt=""/>
            </div>
            <div class="coach-content">
                <h3>Адриан Чомов</h3>
                <p>Адриан предоставя удобни и гъвкави програми за отслабване, които не са създадени, за да добавят повече стрес към нечий живот. 
                Точно обратното, те са създадени, за да помогнат на хората най-накрая да разберат какво е необходимо, за да отслабнат по лесен начин... Без модни диети! Тя включва насоки и подкрепа на всяка стъпка от пътя, така че това е приятен процес, а не бреме за носене. 
                </p>
                    <a href="~/Identity/Account/Login" class="btn">Свържи се</a>
            </div>
        </div>
        <div class="box">
            <div class="coach-img">
                <img src="../images/9.jpg" alt=""/>
            </div>
            <div class="coach-content">
                <h3>Мариян Форов</h3>
                <p>Изграждането на мускулна маса е бавен и сложен процес. Много по-бързо се горят мазнини, отколкото се качва чисто тегло. 
                Основния принцип, който трябва да спазиш при храненето, ако искаш да качваш маса, е да си в калориен излишък. Казано накратко – да приемаш повече калории с храната, отколкото гориш.
                Правилното разпределение на белтъчините, мазнините и въглехидратите в храната е от важно значение за постигането на успех.
                Можеш да качиш килограми само с хранене, но за да развиеш добре мускулатурата си, трябва сериозно да наблегнеш и на тренировките.
                </p>
                    <a href="~/Identity/Account/Login" class="btn">Свържи се</a>
            </div>
        </div>
    </div>
</section>

<section class="coach" id="coach">
    <div class="coach-row">
        <div class="box">
            <div class="coach-img">
                <img src="../images/10.jpg" alt=""/>
            </div>
            <div class="coach-content">
                <h3>Милена Томова</h3>
                <p> Йогата е гимнастична програма, която поставя еднакво голям фокус върху тялото и ума. Типичното за тях е стремежът за поддържане на телесна координация и духовен баланс, без излишен акцент върху интензивността на изпълнение. Самото заставане и поддържане на равновесие по време на позите увеличава мускулната здравина и гъвкавост, заздравява ставите и подобрява сърдечно-съдовата система. 
                </p>
                    <a href="~/Identity/Account/Login" class="btn">Свържи се</a>
            </div>
        </div>
    </div>
</section>

</body>
</html>
