@page
@model LoginModel


<html>
<head>
    <meta charset="utf-8" />
    <title>Регистрация</title>
    <meta name="viewport" content="width=device-width, initial-scle=1.0" />
    <link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Diet.styles.css" asp-append-version="true" />
</head>
<body>
    <section class="home" id="home">
<div class="container">
                <h1 class="form-title">Вход</h1>
            <form id="account" method="post">
              <div class="main-user-info">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="user-input-box">
				    <label asp-for="Input.Email" class="form-label"></label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="user-input-box">
				    <label asp-for="Input.Password" class="form-label"></label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
					
                    <div class="forgot-password">
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Регистрирай се като нов потребител</a>
                    </p>
                    </div>
					
						<button class="form-submit-btn" id="login-submit" type="submit">Вход</button>
					
              </div>
            </form>
    </div>
</section>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
