@page
@model RegisterModel


<html>
    <head>
        <meta charset="utf-8" />
        <title>Регистрация</title>
        <meta name="viewport" content="width=device-width, initial-scle=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Register.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Diet.styles.css" asp-append-version="true" />
    </head>
    <body>
    <section class="home" id="home">
       <div class="container">
         <h1 class="form-title">Регистрация</h1>
          <form  id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div class="main-user-info">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="user-input-box">
				<label asp-for="Input.Username"></label>
                <input asp-for="Input.Username" class="form-control" autocomplete="username" aria-required="true" />
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
                <div class="user-input-box">
				<label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
                <div class="user-input-box">
				<label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
                <div class="user-input-box">
				<label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div >
					<button class="form-submit-btn" id="registerSubmit" type="submit" value="Register">Регистрация</button>
	    </div>
        </form>
    </div>
    </section>
</body>
</html>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
